= form_for(@user, url: password_reset_path, method: :put, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Change password
    .clearfix
      = f.label :password, 'New Password'
      .input
        = f.password_field :password
    .clearfix
      = f.label :password_confirmation, 'Confirm new password'
      .input
        = f.password_field :password_confirmation
    = f.submit 'Change password', class: 'btn btn-primary'
