= form_for(@user, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Edit user
    .clearfix
      = f.label :username
      .input
        = f.text_field :username
    .clearfix
      = f.label :email
      .input
        = f.email_field :email
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
        %span.help-inline (leave blank if you don't want to change it)
    .clearfix
      = f.label :password_confirmation
      .input
        = f.password_field :password_confirmation
    = f.submit 'Update', class: 'btn btn-primary'
= link_to 'Back', :back
