= f.label :title
= f.text_field :title

= f.label :description
= f.text_field :description

= f.label :private, class: 'checkbox' do
  = f.check_box :private
  Private

.form-actions
  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn'