%h2.page-header
  = @album.title
  %span.header-actions
    = link_to('Edit', edit_album_path(@album)) + " | " if can? :edit, Album
    = link_to('Destroy', album_path(@album), confirm: 'Are you sure?', method: :delete) if can? :destroy, Album

- if can? :create, Image
  = render 'images/form'
%ul.thumbnails{data: {toggle: 'modal-gallery', target: '#modal-gallery'}}
  = render partial: 'images/image', collection: @images
= paginate @images
= render 'images/modal'